*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    body{
        background-color: rgb(194, 91, 12);
   background-image: url(https://img.freepik.com/vector-gratis/fondo-arco-iris-degradado_1159-31590.jpg?w=2000);
    }

    html{
        width: 100%;
    }
    
    
  
    h1{
        display: inline-block;
        background-color: gold;
        padding-top: 40px;
        font-size: 60px;
    }

  
        

    .busque{
        display: flex;
        box-sizing: border-box;
        border: 10px inset goldenrod;
        color: rgb(31, 31, 31);
        background-color: rgba(30, 31, 31, 0.519);
        font-size: 20px;
        margin-bottom: 30px;
        
    }
    .lore{
        margin: auto;
        margin-top: 50px;
        border: 10px solid rgb(149, 119, 43);
        background: rgb(176, 104, 2)
    
    }

    .lore{
        width: 50%;

    }
      
   .lore img{
        float: left;
    }
.menus{
display: inline-block;    
box-sizing: border-box;
border: 5px outset goldenrod;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(211, 173, 0);
list-style-type: none;
}
.menus .men{
padding-right: 200px;
display: inline-block;
position: relative;
font-size: 2rem;
text-align: center;
box-sizing: border-box;
border: 5px rgb(241, 79, 10);

}
.menus .men:hover{
color: goldenrod;
}

.menus .men:hover{
    background-color: gold;
    color: rgb(189, 122, 29);
}


.mun{
margin: auto;
margin-top: 50px;
border: 10px solid gold;
background: rgb(176, 104, 2);
width: 50%;
}

    .mun{
        width: 50%;

    }
      
   .mun fit{
        float: left;
    }
    .tab{
        display: inline-block;    
        box-sizing: border-box;
        border: 5px outset rgb(16, 66, 69);
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(31, 169, 132);
        list-style-type: none;
        }
        .tab .fet{
        padding-right: 200px;
        display: inline-block;
        position: relative;
        font-size: 2rem;
        text-align: center;
        box-sizing: border-box;
        border: 5px rgb(25, 84, 79);
        
        }
        .tab .fet:hover{
        color: rgb(4, 23, 29);
        }
        
        .tab .fet:hover{
            background-color: rgb(0, 85, 96);
            color: rgb(7, 13, 16);
        }
        


    .cont{
        margin: auto;
        margin-top: 50px;
        border: 10px solid rgb(0, 85, 95);
        background: rgb(6, 164, 161);
        width: 50%
    }

    .cont{
        width: 50%;

    }
      
   .cont spaa{
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        float: left;
        width: 300px;
        margin-right: 18px;
    }
    
    .ite{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(134, 87, 0);
        color: rgb(22, 22, 21);
        list-style-type: none;
        text-align: center;
        padding: 0px;
    }
    .ite .ite1{
        display: inline-block;
        position: relative;
        font-size: 2rem;
        padding-left: 150px;
        padding-right: 150px;
        
    }
    .ite .ite1:hover{
    color: rgb(173, 81, 0);
    text-decoration: none;
    }
    .ite .ite1:hover{
        background-color: rgb(211, 174, 27);
        color: rgb(232, 200, 72);
    }
    
    h5{
        background-color: black;
        padding: auto;
    }

    .lis:hover{
        background-color: gold;
    }
    .grid-container{ 
        display: grid;
        gap:10px;
        grid-template-areas: 
        "header"
        "navbar"
        "sidebar"
        "main"
        "footer" ;
    }
    
    .header{
        grid-area: header;
    }
    
    .navbar{
        grid-area: navbar;
    
    }
    
    .sidebar{
        grid-area: sidebar;
    }
    
    .footer{
        grid-area: footer;
    }
    
    
    @media only screen and (max-width: 480px){
        body{
            background: chocolate;
        }
        h1{
            background-color: rgb(225, 192, 72);
            display: inline-block;
            text-align: center;
        }
        .grid-container{
            display: grid;
            gap:10px;
            grid-template-areas: 
            "header"
            "navbar"
            "sidebar"
            "main"
            "footer";
        }
        .header{
            grid-area: header;
        }
        
        .navbar{
            grid-area: navbar;
        
        }
        
        .sidebar{
            grid-area: sidebar;

    

        }
       
         .lore{
                width: auto;
        
            }
            .mun{
                width: auto;
            }
            .cont{
                width: auto;
            }
              
        
        }
        .main{
            grid-area: main;
        
        }
        
        .footer{
            grid-area: footer;
        
        }
    
        
        

    