body {
  font-family: 'Times New Roman', Times, serif;
  background-color: blueviolet;
  min-height: 100%; }

.dropdown-menu {
  background-color: #424141; }

.navbar .lis:hover {
  background-color: gold;
  border-style: dashed; }

.sidebar__h2 {
  display: flex;
  text-align: center;
  background-color: #066086; }

.sidebar .anchoTable {
  width: 400px;
  background-color: #8d0606; }

.sidebar .anchoTable2 {
  width: 400px;
  background-color: orange; }

.acordi {
  background-color: yellow; }

.acordi2 {
  background-color: gold; }

.acordi3 {
  background-color: #8d0606; }

.footer .lis:hover {
  background-color: gold;
  border-style: dashed; }

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-areas: "header"
 "navbar"
 "sidebar"
 "footer"; }

.header {
  grid-area: header; }

.navbar {
  grid-area: navbar; }

.sidebar {
  grid-area: sidebar; }

.footer {
  grid-area: footer; }

@media only screen and (max-width: 480px) {
  .grid-container {
    background-color: gold; }
  h1 {
    color: #8d0606;
    font-style: italic; } }
