$violet: rgb(56, 39, 93);
$blanco: white;
$violet1: rgb(82, 2, 147);
$violet2:rgb(156, 101, 234);
$violet3:rgb(200, 143, 250);
$violet4:rgb(243, 37, 243);
$bordo: rgb(64, 0, 29);
$gris: rgb(19, 39, 50);
$gray:rgb(81, 81, 81);
$blue:rgb(58, 0, 164);
$blue1:rgb(43, 43, 178);
$blue2:rgb(91, 50, 253);
$blue3:rgb(33, 103, 241);
$blue4: rgb(3, 149, 189);
$negro: black;
$dorado: rgb(209, 178, 0);
$gradient:radial-gradient(circle at 81.38% 55.53%, #f300ff 0, #bc00f7 25%, #8100de 50%, #3e0bc3 75%, #0010aa 100%);
$gradient1: radial-gradient(circle at 95.76% 50%, #025886 0, #0084a5 16.67%, #007da1 33.33%, #105670 50%, #163241 66.67%, #092e45 83.33%, #0b1834 100%);
$italica: italic;
$borde: hidden;

