
@import 'variables3';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
html{
    height: 100%;
}

body{
    background-image: radial-gradient(circle at 53.99% 4.41%, #003530 0, #00353e 3.33%, #00354b 6.67%, #003557 10%, #003563 13.33%, #00356e 16.67%, #003477 20%, #00337e 23.33%, #003284 26.67%, #003087 30%, #002e89 33.33%, #002a88 36.67%, #002585 40%, #001e81 43.33%, #00157a 46.67%, #250572 50%, #3e0068 53.33%, #4f005d 56.67%, #5a0052 60%, #630045 63.33%, #690038 66.67%, #6d002c 70%, #6e0020 73.33%, #6e0013 76.67%, #6d0000 80%, #6a0000 83.33%, #660000 86.67%, #620000 90%, #5c0000 93.33%, #560000 96.67%, #4f0d00 100%);
 
min-height: 100%;
}


.header{

    

    h1{
        text-align: center;
        font-size: 150px;
        color: $violet;
        box-shadow: 40px 30px 20px $violet2, 40px 30px, 20px $violet3;
        text-shadow: 4px 4px 4px $violet2;
        animation-name: animar;
        animation-duration: 3s;
        animation-delay: 0;
        animation-direction: alternate;
     }
    @keyframes animar{
            0%{ 
                transform:scale(.3);
                text-shadow: 6px 6px 6px ;
                color: $blue4;
                
        }
    }
  
    
 
    .dropdown-menu{
        background-color: $gray;
        font-style: $italica;
        border-style: $borde;
    
    }

    .navbar{
        border-style:$borde;
        font-style: $italica;
    }
    
    
    .lis:hover{
        
        background: $dorado;
        
        
    }
    

}

.main{

    .medidas{

        border: 10px inset $blue1;
        color: $violet1;
        background-color: $gris;
        font-size: 2rem;
        margin-right: 1300px;
    }
    
    .medidas .med{
        color: $violet1;
        text-decoration: none;
        padding: 20px;
    }
    .medidas .med:hover{
        color: $violet2;
    }
    .medidas .med:hover{
        background-color: $dorado;
        color: $blanco;
    }


    h2{
        letter-spacing: 1px;
        font-weight: 500;
        font-style: italic;
        text-align: center;
        box-sizing: border-box;
        border: 5px double $blue3;
        color: rgb(0, 0, 0);
        background-color: $blue2;
        font-size: 2rem;
        margin-bottom: 30px;
        animation-name: animacion;
        animation-duration: 6s;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: infinite;
     }
    @keyframes animacion{
            50%{ 
                transform:scale(.3);
                animation-duration: infinite;
                transition-duration: infinite;
                background-color: rgb(51, 169, 215);
        }
    }
    

}


.aside{
    h4{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        box-sizing: border-box;
        border-style: outset;
        color: rgb(103, 103, 103);
        
    
    }
    
    .video{
        letter-spacing: 1px;
        font-weight: 500;
        margin: auto;
        margin-top: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:$bordo;
        border-style: outset; 
        border-color: $gris;
        background-image: $gradient1;
    
    
        
    }
    
    .video{
        width: 50%;
    
    }
      
    .video .vid{
     
      float: left;
      margin-right: 20px;
     }
     
    
     .imag .im{
        width: 300px;
        height: 300px;
    
     }




}


.footer{
    
    font-style: $italica;
    
    

    .lis:hover{
        
        letter-spacing: 1px;
        font-weight: 500;
        

        

    }
    



    h5{
        font-size: 2rem;
        background-color: $negro;
        color: $gris;
    }
    
    

}





.grid-container{ 
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer" ;
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;

}

.aside{
    grid-area: aside;
}

.footer{
    grid-area: footer;
}



@media only screen and (max-width: 480px){  
    body{
        background: $violet;
    }
    h1{
        text-shadow: $blue , $violet1;
        display: inline-block;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 500;
        font-style: $italica;
        font-family: 1rem;
        
    }
    .grid-container{
        display: grid;
        
    gap: 10px;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    }
    .header{
        grid-area: header;
        width: auto;
    }
    

    .main{
        grid-area: main;
        width: auto;
        .medidas {
            padding-right: 400px;
            

            
        }
   
    
    
    
    }

    .aside{
        grid-area: aside;
        width: auto;
        margin: auto;
        .imag .im{
            width: 260px;
            height: 260px;
            padding: 4px;
        
    
        }
    
        

    }
    
    .footer{
        grid-area: footer;
        text-align: center;
        
        

    
    }

    
 

 }

