$negro: rgb(53, 53, 53);
$dorado: linear-gradient(rgb(245, 208, 0), rgb(255, 193, 79));
$amarillo:linear-gradient(yellow, rgb(163, 147, 0));
$naranja:linear-gradient(rgb(214, 0, 0), rgb(251, 133, 133));
$blue: linear-gradient(blueviolet , rgb(125, 125, 248));
$grey: rgb(66, 65, 65);
$degrade:linear-gradient(#332B47, #4D9BF9);
$letrai: italic;
$borde: hidden;