$negro: rgb(53, 53, 53);
$dorado: linear-gradient(rgb(245, 208, 0), rgb(255, 193, 79));
$amarillo:linear-gradient(yellow, rgb(163, 147, 0));
$naranja:linear-gradient(rgb(214, 0, 0), rgb(251, 133, 133));
$blue: linear-gradient(blueviolet , rgb(125, 125, 248));
$grey: rgb(66, 65, 65);
$degrade:linear-gradient(#332B47, #4D9BF9);
$letrai: italic;

body{
    font-style: $letrai;
    
    background: $degrade;
    min-height: 100% ;
    
 }

.header{
     
    .dropdown-menu{
        background-color: $grey;
        font-style: $letrai;
        border: solid white;
    
     }

    .navbar .lis:hover{
        background: $dorado;
        border-style: solid;
        
    }
 }



.sidebar{
    &__h2{
        display: flex;
    text-align: center;
    background: $degrade;
    }
    .btn{
        background: $degrade;
        animation: animate__headShake;
        animation-name: animacion;
        animation-duration: 3s;
        animation-delay: 2;
        animation-iteration-count: infinite;
     
        @keyframes animacion{
            80%{ 
                transform:scale(.4);
                animation-duration: infinite;
                transition-duration: infinite;
            
        }
    }
  }

    .anchoTable{
        width: 400px;
        background: $amarillo;
    }
    .anchoTable2{
        width: 400px;
        background: $naranja;
        
    }


}

.acordi{
    background:$amarillo;
}
.acordi2{
    background: $dorado;
}
.acordi3{
    background:$naranja;
}

.footer{
 
    .lis:hover{
        background: $dorado;
        border-style: solid;

    }
}


.grid-container{
    display: grid;
    gap:10px;
    grid-template-areas: 
    "header"
    "navbar"
    "sidebar"
    "footer" ;
}

.header{
    grid-area: header;
}

.navbar{
    grid-area: navbar;

}

.sidebar{
    grid-area: sidebar;
}

.footer{
    grid-area: footer;
}


@media only screen and (max-width: 480px){
    .grid-container{
        background: $dorado;
        
    }
    h1{
        color: $naranja;
        font-style: italic;
    }
}

 