@import 'variables1';


@mixin textos ($estilo,$ancholetra){

font-style: $estilo;
font-weight: $ancholetra;

}





* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; }

body{
@include textos($letrai, 400);
    
    background: $degrade;
    min-height: 100% ;
    
 }

.header{
     
    .dropdown-menu{
        background-color: $grey;
        font-style: $letrai;
        border-style: $borde;
    
     }

    .navbar .lis:hover{
        background: $dorado;
        border-style:$borde;
        
    }
    .boton{
        background: $dorado;
        border-style: $borde;
      }
    
      .boton:hover{
        background: $degrade;
      }
    
 }



.sidebar{
    @include textos(inherit,700 );


    &__h2{
        display: flex;
    text-align: center;
    background: $degrade;
    }
    
    .btn{
        background: $degrade;
        animation-name: animacion;
        animation-duration: 3s;
        animation-delay: 2;
        animation-iteration-count: infinite;
     
        @keyframes animacion{
            80%{ 
                transform:scale(.4);
                animation-duration: infinite;
                transition-duration: infinite;
            
        }
    }
  }
  .boton{
    background: $dorado;
    border-style: $borde;
  }

  .boton:hover{
    background: $degrade;
  }

    .anchoTable{
        width: 400px;
        background: $amarillo;
    }
    .anchoTable2{
        width: 400px;
        background: $naranja;
        
    }


}

.acordi{
    background:$amarillo;
}
.acordi2{
    background: $dorado;
}
.acordi3{
    background:$naranja;
}

.footer{
 
    .lis:hover{
        @include textos($letrai,500);
        
        letter-spacing: 1px;
      

    }
}


.grid-container{
    display: grid;
    gap:10px;
    grid-template-areas: 
    "header"
    "navbar"
    "sidebar"
    "footer" ;
}

.header{
    grid-area: header;
}

.navbar{
    grid-area: navbar;

}

.sidebar{
    grid-area: sidebar;
    .anchoTable{
        text-align: center;
    }
    .anchoTable2{
        text-align: center;
    }
    h2{
        text-align: center;
        font-weight: 700;
    }
    .dropdown{
        text-align: center;
        
    }
}

.footer{
    grid-area: footer;
    text-align: center;
}


@media only screen and (max-width: 480px){
    .grid-container{
        background: $dorado;
        
    }
    h1{
        color: $naranja;
        font-style: $letrai;
    }
}



 