@import 'variables2';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    body{
        font-style: inherit;
        font-weight: 500;
        letter-spacing: 1px;
   background-image: url(https://img.freepik.com/vector-gratis/fondo-arco-iris-degradado_1159-31590.jpg?w=2000);

    }
    html{
        width: 100%;
    }
   

    .header{

    
    .container-fluid{
        background: $grad3;
     }
    
    .can{
        background: $grad4;
    }



      .menos{
        background: $grad2;
    }

    .men:hover{
        background: $grad4;
    
    }

    
    h1{
        display: inline-block;
        background-color: $golden;
        padding-top: 40px;
        font-size: 60px;
    }


 }



 .aside{

    .lore{
        margin: $auto;
        margin-top: 50px;
        border: 10px solid $oro;
        background: $oro2;
    
    
    }

    .lore{
        width: 50%;
    }
    
      
   .lore .img{
        float: left;
        margin-right: 20px;
        
        
    
}
}


 .main{

 
    .menus{
        display: inline-block;    
        box-sizing: border-box;
        border: 5px outset $golden;
        font-family: Arial, Helvetica, sans-serif;
        background-color: $gold;
        list-style-type: none;
        }
        .menus .men{
        padding-right: 200px;
        display: inline-block;
        position: relative;
        font-size: 2rem;
        text-align: center;
        box-sizing: border-box;
        border: 5px $oro2;
        
        }
        .menus .men:hover{
        color: $golden;
        }
        
        .menus .men:hover{
            background-color: $gold;
            color: $golden;
        }
        
        
        .mun{
        margin: $auto;
        margin-top: 50px;
        border: 10px solid $golden;
        background: $oro;
        
        }
        
        .mun{
                width: 50%;
        
            }
              
        .mun .fit{
                float: left;
                margin-right: 20px;
            }
        
            .tab{
                display: inline-block;    
                box-sizing: border-box;
                border: 5px outset $aqua;
                font-family: Arial, Helvetica, sans-serif;
                background-color: $acua;
                list-style-type: none;
                }
                .tab .fet{
                padding-right: 200px;
                display: inline-block;
                position: relative;
                font-size: 2rem;
                text-align: center;
                box-sizing: border-box;
                border: 5px $aqua;
                
                }
                .tab .fet:hover{
                color: $aqua1;
                }
                
                .tab .fet:hover{
                    background-color: $aqua;
                    color: $aqua1;
                }
                
        
        
            .cont{
                margin: $auto;
                margin-top: 50px;
                border: 10px solid $aqua;
                background: $acua;
            
            }
        
            .cont{
                width: 50%;
        
            }
              
            .cont .spaa{
            font-weight: 100;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            float: left;
            margin-right: 20px;
            }
            
            .ite{
                font-family: Arial, Helvetica, sans-serif;
                background-color: $oro;
                color: $grey;
                list-style-type: none;
                text-align: center;
                padding: 0px;
            }
            .ite .ite1{
                display: inline-block;
                position: relative;
                font-size: 2rem;
                padding-left: 150px;
                padding-right: 150px;
                
            }
            .ite .ite1:hover{
            color: $oro2;
            text-decoration: none;
            }
            .ite .ite1:hover{
                background-color: $golden;
                color: $gold;
            }



 }



.footer{

    h5{
        background-color: black;
        padding: auto;
    }

    .lis:hover{
        font-style: $itali;
        letter-spacing: 2px;
        font-weight: 600;
    }

     }




    
       
    
    .grid-container{ 
        display: grid;
        gap:10px;
        grid-template-areas:
        "header"
        "navbar"
        "aside"
        "main"
        "footer" ;
    }
    
    
    .header{
        grid-area: header;
    }
    
    .navbar{
        grid-area: navbar;
    
    }
    
    .aside{
        grid-area: aside;
    }
    .main{
        grid-area: main;
    }
    
    .footer{
        grid-area: footer;
    }
    

    

    
    @media only screen and (max-width: 480px){
        body{
            background: $oro2;
        }
        h1{
            background-color: $gold;
            display: inline-block;
            text-align: center;
        }
       
       .grid-container{
        display: grid;
        gap:10px;
        grid-template-areas: 
        "header"
        "navbar"
        "aside"
        "main"
        "footer";
    }
    .header{
        grid-area: header;
        
    }
    
    .navbar{
        grid-area: navbar;
    
    
    }
    
    .aside{
        grid-area: aside;

        .lore{
            width: $auto;
    
        }

    }
   
    
    
    .main{
        grid-area: main;

    
        .mun{
            width: $auto;
        }
        .cont{
            width: $auto;
        }
    
    }
    
    .footer{
        
        grid-area: footer;
        text-align: center;
    
    
    }

}