* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-image: url(https://thumbs.dreamstime.com/b/tennis-ball-court-line-off-center-9205576.jpg);
  width: 100%; }

html {
  width: 100%; }

.header .container-fluid {
  background: linearGradient(#393939, #9f9f9f); }

.header .can {
  background: linear-gradient(#f09c00, #ff883d); }

.header .menos {
  background: linear-gradient(#e4b200, #ffe96b); }

.header .men:hover {
  background: linear-gradient(#f09c00, #ff883d); }

.aside {
  color: #2a2929;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* FLIP CARD */ }
  .aside h4 {
    font-size: 2rem;
    font-style: unset;
    color: #e8d615;
    box-shadow: 40px 30px 20px #008ebd, 40px 30px, 20px #a3b865;
    text-shadow: 4px 4px 4px black; }
  .aside h4 span {
    font-size: 4rem;
    color: #656598;
    margin-top: 0;
    margin-bottom: 80px;
    animation-name: animacion;
    animation-duration: 3s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite; }

@keyframes animacion {
  50% {
    transform: scale(0.3);
    animation-duration: infinite;
    transition-duration: infinite;
    box-shadow: inset;
    color: #00aa85; } }
  .aside p {
    margin: 0; }
  .aside .cards-grid {
    display: flex;
    grid-gap: 80px; }
  .aside .flip-card {
    width: 320px;
    height: 504px;
    perspective: 2000px; }
  .aside .flip-card-inner {
    margin-left: -200px;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: #deb600, #e1d11f, #e7b570;
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d; }
  .aside .flip-card-front, .aside .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden; }
  .aside .flip-card-front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .aside .flip-card-back {
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 32px;
    background-color: gray;
    transform: rotateY(180deg); }
  .aside .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg); }

.main .section1 {
  background-image: url(https://www.racketclub.com/es/images/secciones/3/img0000.jpg);
  height: 500px;
  width: 1221px;
  padding: 20px;
  padding-left: 100px;
  margin: auto; }

.main h3 {
  font-size: 20px;
  color: #f5d6d6;
  background-color: #1e1a1a;
  color: #000;
  opacity: .5; }

.main h3 :hover {
  color: #dac6c6;
  font-family: cursive;
  font-size: 30px; }

.main h3 :hover {
  background-color: #fbf3fe;
  color: #080202;
  font-family: 30px; }

.main .imag {
  text-align: center; }

.main .imag .im {
  width: 260px;
  height: 260px;
  padding: 4px; }

.footer h5 {
  font-size: 2rem;
  background-color: black;
  color: #3fdce7; }

.footer .pie:hover {
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 500; }

@media only screen and (max-width: 480px) {
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: "header" "aside" "main" "footer"; }
  .header {
    grid-area: header;
    width: auto; }
  .aside {
    grid-area: aside;
    width: auto; }
  .main {
    grid-area: main;
    width: auto; }
  .footer {
    grid-area: footer;
    width: auto;
    text-align: center; } }
