$gris: rgb(163, 163, 163);
$grey: rgb(31, 31, 31);
$golden: rgb(225, 188, 0);
$oro: rgb(130, 103, 4);
$oro2: rgb(238, 113, 4);
$naranja: rgb(250, 163, 0);
$gold: rgb(236, 224, 0);
$aqua1:  rgb(4, 23, 29);
$aqua: rgb(2, 147, 147);
$acua: rgb(0, 185, 185);
$negro: black;
$itali: italic;
$grad: linear-gradient(rgb(0, 108, 108), rgb(71, 223, 223));
$grad2: linear-gradient(rgb(228, 178, 0), rgb(255, 233, 107));
$grad3: linearGradient(rgb(57, 57, 57), rgb(159, 159, 159));
$grad4: linear-gradient(rgb(240, 156, 0), rgb(255, 136, 61));
$letrag: 600;
$auto: auto;


