* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-style: inherit;
  font-weight: 500;
  letter-spacing: 1px;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-arco-iris-degradado_1159-31590.jpg?w=2000); }

html {
  width: 100%; }

.header .container-fluid {
  background: linearGradient(#393939, #9f9f9f); }

.header .can {
  background: linear-gradient(#f09c00, #ff883d); }

.header .menos {
  background: linear-gradient(#e4b200, #ffe96b); }

.header .men:hover {
  background: linear-gradient(#f09c00, #ff883d); }

.header h1 {
  display: inline-block;
  background-color: #e1bc00;
  padding-top: 40px;
  font-size: 60px; }

.aside .lore {
  margin: auto;
  margin-top: 50px;
  border: 10px solid #826704;
  background: #ee7104; }

.aside .lore {
  width: 50%; }

.aside .lore .img {
  float: left;
  margin-right: 20px; }

.main .menus {
  display: inline-block;
  box-sizing: border-box;
  border: 5px outset #e1bc00;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ece000;
  list-style-type: none; }

.main .menus .men {
  padding-right: 200px;
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-align: center;
  box-sizing: border-box;
  border: 5px #ee7104; }

.main .menus .men:hover {
  color: #e1bc00; }

.main .menus .men:hover {
  background-color: #ece000;
  color: #e1bc00; }

.main .mun {
  margin: auto;
  margin-top: 50px;
  border: 10px solid #e1bc00;
  background: #826704; }

.main .mun {
  width: 50%; }

.main .mun .fit {
  float: left;
  margin-right: 20px; }

.main .tab {
  display: inline-block;
  box-sizing: border-box;
  border: 5px outset #029393;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00b9b9;
  list-style-type: none; }

.main .tab .fet {
  padding-right: 200px;
  display: inline-block;
  position: relative;
  font-size: 2rem;
  text-align: center;
  box-sizing: border-box;
  border: 5px #029393; }

.main .tab .fet:hover {
  color: #04171d; }

.main .tab .fet:hover {
  background-color: #029393;
  color: #04171d; }

.main .cont {
  margin: auto;
  margin-top: 50px;
  border: 10px solid #029393;
  background: #00b9b9; }

.main .cont {
  width: 50%; }

.main .cont .spaa {
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  float: left;
  margin-right: 20px; }

.main .ite {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #826704;
  color: #1f1f1f;
  list-style-type: none;
  text-align: center;
  padding: 0px; }

.main .ite .ite1 {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  padding-left: 150px;
  padding-right: 150px; }

.main .ite .ite1:hover {
  color: #ee7104;
  text-decoration: none; }

.main .ite .ite1:hover {
  background-color: #e1bc00;
  color: #ece000; }

.footer h5 {
  background-color: black;
  padding: auto; }

.footer .lis:hover {
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 600; }

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-areas: "header" "navbar" "aside" "main" "footer"; }

.header {
  grid-area: header; }

.navbar {
  grid-area: navbar; }

.aside {
  grid-area: aside; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

@media only screen and (max-width: 480px) {
  body {
    background: #ee7104; }
  h1 {
    background-color: #ece000;
    display: inline-block;
    text-align: center; }
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: "header" "navbar" "aside" "main" "footer"; }
  .header {
    grid-area: header; }
  .navbar {
    grid-area: navbar; }
  .aside {
    grid-area: aside; }
    .aside .lore {
      width: auto; }
  .main {
    grid-area: main; }
    .main .mun {
      width: auto; }
    .main .cont {
      width: auto; }
  .footer {
    grid-area: footer;
    text-align: center; } }
